p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-list-ul {
    padding: 0;
}

.name-sm {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
